:root{
	--Dolmen03: rgb(108,186,18);
	--Dolmen01: rgb(83,243,102);
	--MWL_Ruins7: rgb(63,235,10);
	--Dolmen02: rgb(114,253,171);
	--StartTemple: rgb(255,0,0);
	--Eikthyrnir: rgb(65,191,13);
	--MWL_MeadowsBarn1: rgb(79,248,139);
	--MWL_MeadowsRuin1: rgb(53,241,4);
	--MWL_Ruins1: rgb(125,242,177);
	--MWL_Ruins6: rgb(45,240,63);
	--MWL_Ruins8: rgb(58,196,8);
	--MWL_RuinsWell1: rgb(74,252,143);
	--Hildir_camp: rgb(22,223,29);
	--CombatRuin01: rgb(161,246,121);
	--WoodHouse1: rgb(40,246,64);
	--WoodHouse2: rgb(49,201,3);
	--MWL_DeerShrine1: rgb(88,238,150);
	--MWL_DeerShrine2: rgb(16,229,29);
	--MWL_MaypoleHut1: rgb(156,249,118);
	--MWL_MeadowsFarm1: rgb(34,252,112);
	--MWL_MeadowsLighthouse1: rgb(18,186,20);
	--MWL_MeadowsSawmill1: rgb(83,243,154);
	--MWL_MeadowsTavern1: rgb(10,235,31);
	--MWL_MeadowsTomb4: rgb(150,253,114);
	--MWL_MeadowsWall1: rgb(51,235,122);
	--MWL_Ruins2: rgb(13,191,20);
	--WoodHouse3: rgb(132,248,79);
	--WoodHouse4: rgb(4,241,83);
	--WoodHouse5: rgb(152,242,125);
	--WoodHouse6: rgb(45,240,127);
	--WoodHouse7: rgb(8,196,21);
	--MWL_MeadowsTower1: rgb(125,252,74);
	--MWL_OakHut1: rgb(22,223,95);
	--WoodHouse8: rgb(121,246,123);
	--WoodHouse9: rgb(110,246,40);
	--WoodHouse10: rgb(3,201,22);
	--WoodHouse11: rgb(126,238,88);
	--WoodHouse12: rgb(16,229,100);
	--MWL_MeadowsHouse2: rgb(118,249,123);
	--MWL_SmallHouse1: rgb(101,252,34);
	--WoodHouse13: rgb(18,186,75);
	--StoneCircle: rgb(86,243,83);
	--ShipSetting01: rgb(10,235,105);
	--Runestone_Boars: rgb(114,253,124);
	--Runestone_Meadows: rgb(102,235,51);
	--MWL_Ruins3: rgb(13,191,79);
	--MWL_RuinsArena1: rgb(79,248,81);
	--MWL_RuinsArena3: rgb(83,241,4);
	--MWL_RuinsChurch1: rgb(125,242,162);
	--WoodFarm1: rgb(94,240,45);
	--WoodVillage1: rgb(8,196,83);
	--Hildir_crypt: rgb(18,186,102);
	--GDKing: rgb(83,219,243);
	--Vendor_BlackForest: rgb(10,235,189);
	--Crypt2: rgb(114,191,253);
	--MWL_GuardTower1: rgb(51,218,235);
	--MWL_RuinsArena2: rgb(13,191,145);
	--MWL_RuinsCastle3: rgb(79,182,248);
	--Ruin1: rgb(4,241,200);
	--Ruin2: rgb(125,187,242);
	--StoneHouse3: rgb(45,217,240);
	--StoneHouse4: rgb(8,196,153);
	--TrollCave02: rgb(74,178,252);
	--Crypt3: rgb(22,209,223);
	--MWL_RootsTower2: rgb(121,246,210);
	--MWL_RuinedRootTower5: rgb(40,215,246);
	--MWL_RuinsTower8: rgb(3,201,161);
	--MWL_StoneOutlook1: rgb(88,171,238);
	--MWL_WoodTower1: rgb(16,208,229);
	--MWL_WoodTower2: rgb(118,249,216);
	--MWL_WoodTower3: rgb(34,166,252);
	--Crypt4: rgb(18,179,186);
	--Greydwarf_camp1: rgb(83,167,243);
	--Runestone_Greydwarfs: rgb(10,206,235);
	--Runestone_BlackForest: rgb(114,253,222);
	--MWL_CoastTower1: rgb(51,157,235);
	--MWL_ForestGrove1: rgb(13,178,191);
	--MWL_ForestPillar1: rgb(79,248,200);
	--MWL_ForestRuin2: rgb(4,154,241);
	--MWL_ForestRuin3: rgb(125,242,219);
	--MWL_ForestSkull1: rgb(45,152,240);
	--MWL_ForestTower4: rgb(8,177,196);
	--MWL_ForestTower5: rgb(74,252,208);
	--MWL_MassGrave1: rgb(22,143,223);
	--MWL_RockShrine1: rgb(121,240,246);
	--MWL_RootRuins1: rgb(40,246,183);
	--MWL_RuinedTower1: rgb(3,175,201);
	--MWL_RuinsCastle1: rgb(88,238,205);
	--MWL_RuinsTower3: rgb(16,138,229);
	--MWL_RuinsTower6: rgb(118,239,249);
	--MWL_StoneFormation1: rgb(34,252,191);
	--MWL_Tavern1: rgb(18,124,186);
	--ShipWreck01: rgb(83,240,243);
	--ShipWreck03: rgb(10,132,235);
	--ShipWreck04: rgb(114,238,253);
	--StoneTowerRuins03: rgb(51,235,189);
	--StoneTowerRuins07: rgb(13,119,191);
	--MWL_ForestCamp1: rgb(79,239,248);
	--MWL_ForestForge1: rgb(4,241,169);
	--MWL_ForestForge2: rgb(125,202,242);
	--MWL_ForestGreatHouse2: rgb(45,240,198);
	--MWL_ForestHouse2: rgb(8,115,196);
	--MWL_ForestRuin1: rgb(74,238,252);
	--MWL_ForestTower2: rgb(22,223,168);
	--MWL_ForestTower3: rgb(121,199,246);
	--MWL_RootsTower1: rgb(40,241,246);
	--StoneTowerRuins08: rgb(3,201,136);
	--StoneTowerRuins09: rgb(88,222,238);
	--StoneTowerRuins10: rgb(16,229,177);
	--ShipWreck02: rgb(118,196,249);
	--Bonemass: rgb(74,186,18);
	--BogWitch_Camp: rgb(83,243,151);
	--SwampWell1: rgb(10,235,13);
	--Grave1: rgb(114,253,221);
	--InfestedTree01: rgb(51,235,117);
	--MWL_Belmont1: rgb(23,191,13);
	--MWL_FortBakkarhalt1: rgb(79,248,197);
	--MWL_SwampCourtyard1: rgb(4,241,15);
	--FireHole: rgb(125,242,219);
	--Runestone_Draugr: rgb(45,240,122);
	--Runestone_Swamps: rgb(12,196,8);
	--SunkenCrypt4: rgb(74,252,206);
	--MWL_StoneCircle1: rgb(22,223,88);
	--MWL_SwampAltar2: rgb(132,246,121);
	--MWL_SwampAltar3: rgb(40,246,128);
	--MWL_SwampAltar4: rgb(3,201,6);
	--MWL_SwampBrokenTower3: rgb(88,238,204);
	--MWL_SwampCastle2: rgb(16,229,93);
	--MWL_SwampTemple1: rgb(124,249,118);
	--SwampHut5: rgb(34,252,188);
	--SwampHut1: rgb(18,186,68);
	--SwampHut2: rgb(83,243,212);
	--SwampHut3: rgb(10,235,99);
	--SwampHut4: rgb(116,253,114);
	--MWL_AbandonedHouse1: rgb(51,235,188);
	--MWL_CastleCorner1: rgb(13,191,72);
	--MWL_GuckPit1: rgb(92,248,79);
	--MWL_SwampAltar1: rgb(4,241,165);
	--MWL_SwampBrokenTower1: rgb(125,242,128);
	--SwampRuin1: rgb(45,240,197);
	--SwampRuin2: rgb(8,196,77);
	--MWL_Shipyard1: rgb(82,252,74);
	--MWL_SwampHouse1: rgb(22,223,165);
	--MWL_SwampTower1: rgb(121,246,159);
	--MWL_SwampWell1: rgb(62,246,40);
	--MWL_Treehouse1: rgb(3,201,83);
	--MWL_TreeTowers1: rgb(89,238,88);
	--MWL_SwampGrave1: rgb(16,229,175);
	--MWL_SwampRuin1: rgb(118,249,162);
	--MWL_SwampTower2: rgb(50,252,34);
	--MWL_SwampTower3: rgb(18,186,133);
	--Dragonqueen: rgb(18,130,186);
	--Hildir_cave: rgb(83,95,243);
	--MountainWell1: rgb(10,99,235);
	--Waymarker01: rgb(142,114,253);
	--MWL_StoneCastle1: rgb(51,74,235);
	--MWL_TempleShrine1: rgb(13,93,191);
	--MWL_WoodHouse1: rgb(104,79,248);
	--Waymarker02: rgb(4,91,241);
	--MountainGrave01: rgb(152,125,242);
	--DrakeNest01: rgb(45,64,240);
	--AbandonedLogCabin02: rgb(8,87,196);
	--AbandonedLogCabin03: rgb(105,74,252);
	--AbandonedLogCabin04: rgb(22,52,223);
	--MWL_StoneFort1: rgb(121,180,246);
	--MWL_StoneHall1: rgb(40,54,246);
	--MWL_StoneTavern1: rgb(3,80,201);
	--MWL_StoneTower1: rgb(118,88,238);
	--MWL_StoneTower2: rgb(16,41,229);
	--MWL_WoodBarn1: rgb(118,176,249);
	--MWL_WoodFarm1: rgb(67,34,252);
	--MountainCave02: rgb(18,47,186);
	--StoneTowerRuins04: rgb(120,83,243);
	--StoneTowerRuins05: rgb(10,31,235);
	--DrakeLorestone: rgb(114,172,253);
	--MWL_MountainCultShrine1: rgb(84,51,235);
	--MWL_MountainDvergrShrine1: rgb(13,39,191);
	--MWL_MountainDvergrShrine2: rgb(79,157,248);
	--MWL_MountainOverlook1: rgb(34,4,241);
	--MWL_RuinsChurch2: rgb(125,170,242);
	--MWL_StoneAltar1: rgb(86,45,240);
	--Runestone_Mountains: rgb(8,30,196);
	--MWL_MountainShrine1: rgb(74,152,252);
	--GoblinKing: rgb(186,96,18);
	--GoblinCamp2: rgb(243,230,83);
	--Ruin3: rgb(235,162,10);
	--StoneTower1: rgb(235,253,114);
	--StoneTower3: rgb(235,213,51);
	--Runestone_Plains: rgb(191,126,13);
	--StoneHenge1: rgb(233,248,79);
	--StoneHenge2: rgb(241,169,4);
	--StoneHenge3: rgb(225,242,125);
	--MWL_FulingTemple2: rgb(240,221,45);
	--MWL_FulingTemple4: rgb(196,131,8);
	--MWL_FulingTempleBroken1: rgb(233,252,74);
	--MWL_GoblinFort1: rgb(223,195,22);
	--StoneHenge4: rgb(246,198,121);
	--StoneHenge5: rgb(246,230,40);
	--StoneHenge6: rgb(201,137,3);
	--TarPit1: rgb(219,238,88);
	--TarPit2: rgb(229,204,16);
	--MWL_FulingRock1: rgb(249,202,118);
	--MWL_FulingTemple1: rgb(232,252,34);
	--MWL_FulingVillage1: rgb(186,160,18);
	--MWL_FulingVillage2: rgb(219,243,83);
	--MWL_PlainsPillar1: rgb(235,214,10);
	--MWL_RockGarden1: rgb(253,206,114);
	--TarPit3: rgb(214,235,51);
	--StoneHouse1_heath: rgb(191,167,13);
	--StoneHouse2_heath: rgb(248,183,79);
	--StoneHouse5_heath: rgb(224,241,4);
	--MWL_FulingTemple3: rgb(242,205,125);
	--MWL_FulingTower1: rgb(214,240,45);
	--MWL_FulingWall1: rgb(196,175,8);
	--Mistlands_RockSpire1: rgb(60,18,186);
	--Mistlands_StatueGroup1: rgb(227,83,243);
	--Mistlands_Statue1: rgb(133,10,235);
	--Mistlands_Statue2: rgb(253,114,226);
	--Mistlands_RoadPost1: rgb(206,51,235);
	--Mistlands_GuardTower1_ruined_new2: rgb(100,13,191);
	--Mistlands_GuardTower3_new: rgb(248,79,224);
	--Mistlands_GuardTower3_ruined_new: rgb(141,4,241);
	--Mistlands_GuardTower1_new: rgb(242,125,216);
	--Mistlands_GuardTower2_new: rgb(215,45,240);
	--MWL_DvergrHouseWood1: rgb(106,8,196);
	--MWL_DvergrHouseWood2: rgb(252,74,222);
	--MWL_MarbleCage1: rgb(186,22,223);
	--MWL_MarbleCliffAltar1: rgb(179,121,246);
	--MWL_MarbleHome1: rgb(226,40,246);
	--MWL_MarbleHome2: rgb(112,3,201);
	--MWL_MarbleJail1: rgb(238,88,209);
	--MWL_MistPond1: rgb(196,16,229);
	--Mistlands_GuardTower1_ruined_new: rgb(183,118,249);
	--Mistlands_Lighthouse1_new: rgb(252,34,221);
	--Mistlands_DvergrBossEntrance1: rgb(151,18,186);
	--Mistlands_DvergrTownEntrance1: rgb(243,83,207);
	--Mistlands_DvergrTownEntrance2: rgb(207,10,235);
	--MWL_AncientShrine1: rgb(187,114,253);
	--MWL_DvergrKnowledgeExtractor1: rgb(235,51,203);
	--MWL_Misthut2: rgb(159,13,191);
	--MWL_MistShrine1: rgb(158,79,248);
	--MWL_MistWall1: rgb(241,4,213);
	--MWL_SecretRoom1: rgb(190,125,242);
	--Mistlands_Excavation1: rgb(240,45,201);
	--Mistlands_Excavation2: rgb(168,8,196);
	--Mistlands_Excavation3: rgb(163,74,252);
	--Mistlands_Giant2: rgb(223,22,193);
	--Mistlands_Giant1: rgb(220,121,246);
	--MWL_DvergrHouse1: rgb(131,40,246);
	--MWL_MistFort2: rgb(177,3,201);
	--MWL_MistTower1: rgb(168,88,238);
	--Mistlands_Swords1: rgb(229,16,191);
	--Mistlands_Swords2: rgb(226,118,249);
	--Mistlands_Swords3: rgb(137,34,252);
	--Mistlands_Harbour1: rgb(186,18,165);
	--Mistlands_Viaduct1: rgb(206,83,243);
	--MWL_DvergrEitrSingularity1: rgb(235,10,188);
	--MWL_MistHut1: rgb(233,114,253);
	--MWL_MistTower2: rgb(143,51,235);
	--MWL_MistWorkshop1: rgb(191,13,164);
	--Mistlands_Viaduct2: rgb(214,79,248);
	--Runestone_Mistlands: rgb(110,4,241);
	--CharredStone_Spawner: rgb(186,18,18);
	--CharredTowerRuins2: rgb(243,118,83);
	--CharredTowerRuins3: rgb(235,32,10);
	--FortressRuins: rgb(253,158,114);
	--LeviathanLava: rgb(235,87,51);
	--MWL_AshlandsFort1: rgb(191,27,13);
	--MWL_AshlandsFort2: rgb(248,129,79);
	--MWL_AshlandsFort3: rgb(241,29,4);
	--SulfurArch: rgb(242,163,125);
	--AshlandRuins: rgb(240,86,45);
	--CharredRuins2: rgb(196,25,8);
	--CharredRuins3: rgb(252,129,74);
	--CharredRuins4: rgb(223,60,22);
	--VoltureNest: rgb(246,130,121);
	--FaderLocation: rgb(246,84,40);
	--CharredFortress: rgb(201,23,3);
	--MorgenHole1: rgb(238,136,88);
	--MorgenHole2: rgb(229,58,16);
	--MorgenHole3: rgb(249,129,118);
	--PlaceofMystery1: rgb(252,99,34);
	--PlaceofMystery2: rgb(186,49,18);
	--PlaceofMystery3: rgb(243,135,83);
	--Runestone_Ashlands: rgb(235,57,10);
	--CharredTowerRuins1: rgb(253,127,114);
	--CharredTowerRuins1_dvergr: rgb(235,107,51);
	--CharredRuins1: rgb(191,47,13);
	--MWL_Port1: rgb(18,169,186);
	--MWL_Port2: rgb(83,141,243);
	--MWL_Port3: rgb(10,157,235);
	--MWL_Port4: rgb(114,130,253);
	--MWL_BlackForestBlacksmith1: rgb(186,135,18);
	--MWL_BlackForestBlacksmith2: rgb(205,243,83);
	--MWL_MistlandsBlacksmith1: rgb(235,223,10);
	--MWL_MountainsBlacksmith1: rgb(185,253,114);
	--MWL_OceanTavern1: rgb(199,235,51);
	--MWL_PlainsCamp1: rgb(191,173,13);
	--MWL_PlainsTavern1: rgb(173,248,79);
	--MWL_MeadowsTrainer1: rgb(186,18,130);
	--MWL_MistTrainer1: rgb(243,83,121);
	--MWL_PlainsTrainer1: rgb(235,10,115);
	--MWL_SwampTrainer1: rgb(253,114,120);
}
